.header {
  padding: 28px 0;
  max-width: calc(100% - 96px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .header {
    max-width: calc(100% - 32px);
  }
}