.content {
  padding: 28px 0 92px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    padding-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .content {
    padding-bottom: 64px;
  }
}