.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;

  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 767px) {
  .lead__title {
    margin: 0 auto 16px;
    max-width: 288px;

    font-size: 40px;
    line-height: 44px;
  }
}