.cover {
  max-width: calc(100% - 96px);
  margin: auto;
  position: relative;
  background: url(../../images/cover__background.jpg) no-repeat center / cover;
  text-align: center;
}

.cover::before {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity .4s ease-in-out;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
  }
}