.cover__title {
  margin: 0;
  width: 560px;

  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: calc(100% - 32px);

    font-size: 32px;
    line-height: 35px;
  }
}